
#title{
  background-color: white;

}


body{
  font-family: 'Oi', cursive;
}

h1{
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  color: #65d6ce;
font-size: 4rem;
line-height: 1.5;
text-align: center;
padding-top: 100px;

}
h4{
  font-family: 'Quicksand', sans-serif;
  color:grey;
  padding-top: 2%;
  line-height: 2;
}
 ul{
  font-size: 4rem;
  font-weight: 800px;
  color: #fc7f7f;
  font-family: 'Quicksand', sans-serif;


}

.button {
margin-top: 80px;
position: static;
}
.btn1{

  width: 200px;
  height: 48px;
  background-color: #0fff;
  border-radius: 30px;
  border-color:#0fff ;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 48px;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
letter-spacing: 0.1rem;
margin-top: 3px;
text-align: center;

}

.btn2{

  width: 200px;
  height: 48px;
  background-color: #1687a7;
  border-radius: 30px;
  border-color: #0fff;
  font-size: 20px;
  color: #0fff;
  font-weight: 500;
  border-width: 2px;
letter-spacing: 0.1rem;
box-sizing: border-box;
border-style: solid;

}

p{
margin-left: 15px;
padding-top: 2%;
line-height: 2;
color: gray;
}
.section1{

  text-align: center;

}


h2{
  padding-top: 5px;
  color:  #65d6ce;
  letter-spacing: 0.2rem;
}
  h3{
    color: white;
    font-family: 'Anton', sans-serif;
  padding-top: 6%;
letter-spacing: 0.5rem;
  }
.container-fluid{
  size:16rem;
  text-align: center;
  font-family: 'Anton', sans-serif;
  padding: 3% 15%;
}





/* navigation */

.navbar-brand{

  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;

}
.nav-item{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  margin-right: 25px;
}
.nav-link{
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin-right: 25px;

}
.navbar-brand{
  color:black;
}


/*service-list (dog and weapped text)*/

h5{
  color:  #fc7f7f;
  font-weight: bold;
  font-size: 3rem;
}
.circal{
  height: 70px;
  width: 70px;
  background-color: lightgrey;
  color: black;
  font-size: 30px;
  border-radius: 50%;
  margin-bottom: 20px;
margin-left: 45%;

}

.circal:hover{
  background-color: black;
  color: white;
  transition: 0.05s;
}

.service-list{
  display: flex;
  padding-top: 20px;
  padding-bottom: 5%;
}


 .left-list{
  float: left;
  text-align: right;
  text-align: center;
  font-size: 1rem;
  color: grey
  padding-right: 10px;


}

.center-list{

  margin-left: 100px;
  margin-right: 100px;
  padding-top: 20px;
  background-color: 0fff;

}
.img{
  border-radius: 30%;
  background-color: white;
  border: none;
  box-shadow: 0 20px 5px 0 rgba(0, 0, 255, 0), 0 20px 20px 0 rgba(0, 0, 255, 0.19);
}


.right-list{
  float: right;
  text-align: left;
  text-align: center;
  font-size: 1rem;
  color: grey
  padding-right: 10px;

}


/*news*/

h6{
  padding-top: 100px;
  color: black;
  font-size:80px;
  text-align: center;
  letter-spacing: 1rem;
}

h7{
  padding-top: 30px;
  font-size: 60px;
  color:  #fc7f7f;
  font-weight: bold;
  text-align: center;
  margin-left: 350px

}
ol{
  text-align: center;
font-size: 20px;
color: grey;
font-weight: 500;
padding-top: 20px;

}

/*card*/

.first-box{
width: 18rem;
text-align: center;
padding-top: 30px;
margin-right: 70px;
border-radius: 20px;
box-shadow: 0 8px 3px 0 rgba(0, 0, 255, 0), 0 6px 20px 0 rgba(0, 0, 255, 0.19);
}

.box-tital{
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #fc7f7f;

}
.box-img{
  width: 18rem;
  height: 200px;
  border-radius: 10px;
}
h8{
  color: #fc7f7f;
  font-weight: 200px;
  font-size: 16px;
}
.end{
  padding-top: 5px;
  text-align: center;
  background-color: #0fff;
  border-radius: 30px;

}
.conend{

  color: white;
  font-size: 20px;
}

.breif{
  font-size: 20px;
  font-weight: bold;
  color:grey;
}
.box-text{
  font-size: 20px;
  display: absolute;
}
.containss{
  display: flex;
  padding-top: 50px;
  text-align: center;
  margin-left: 100px;}


/*logo*/
.conntain{
  width: auto;
  padding-top: 10%;
  text-align: center;
  padding-left:10%;
  display: flex;

}
.logoimg{
  width: 50%;
  height: 120px;
  padding-right: 5%;
  text-align: center;

}
/*magic-gallary*/

.magicgallary{
  display: flex;
  width: auto;
  padding-top: 5%;
}
.glryimg{
  width: 420px;
  height: 400px;
}
.hadding{

  font-size: 40px;
  font-weight: 50px;
  color: white;
}
.subhading{
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
.context{
  width: 300px
  height:200px;
  padding-top: 5px;
  padding-left: 200px;
  padding-bottom: 50px;

}
.text{
  color: white;
  font-size: 20px;
  font-weight: 100px;



}

.mid-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff7171;
  margin-top: 10px;
  padding-bottom: 30px;
}

.bn{
  background-color: #0fff;
  width: 500px;
  height: 50px;
  color: white;
  padding-top: 8px;
  text-align: center;
  border-radius: 20px;
  border-color: #0fff;
  border: none;
  font-size: 20px;
  font-weight: bold;

}

.container3{
  text-align: center;
  margin-left: 30px;
  padding-top: 10px;
  width: 500px;

}
input {
  width: 80%;
}
.input_class{
  outline : none;
  border-radius: 5px;
  border : none;
  padding: 1rem .2rem;
}
.custom-control-label{
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.mydropdown{
  display: flex;
  padding-bottom: 50px;
}
.dropdown{
  margin-top: 150px;
  margin-left: 300px;
  font-size: 20px;
  padding-bottom: 100px;
  width: 30rem;
  position: relative;

}
.coo{
  font-size: 2rem;
  font-weight: bold;

}

.mybox{
    margin-top: 150px;

}
.head{
  font-size: 1.5rem;
  font-family: bold;
}
.site{
  font-weight: 100;
  color: black;
  font-family: bold;
  font-size: 20px;
}
.example{
  margin-top: 150px;
  margin-left: 150px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 100%;
  background: #f1f1f1;
  padding-bottom: 20px;
}
.TinDog{
  background-color: #424642;
  padding-top: 5px;
  font-size: 20px;
  color: white;
  padding-bottom: 50px;
  margin-top: 5px;

}
.tinndog{
  padding-top: 5px;
  font-size: 20px;
  color: white;
  margin-left: 50px;
}
